* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0F0F0F;
    color: #CCCCCC;
    font: 16px Helvetica, Arial, sans-serif;
}

p {
    margin: 1em 0;
}

a {
    color: #69F;
    text-decoration: none;
}

a:hover {
    color: #69F;
}


.navbar {
    background-color: #0F0F0F;
    color: #CCCCCC;
    margin-bottom: 0;
}

.page-header {
    margin-top: 0;
}

.content {
    background-color: #663366;
    padding-top: 30px;
    padding-bottom: 40px;
}

.footer {
    padding-top: 40px;
    height: 190px;
}

.front .header {
    background-color: #0F0F0F;
    padding: 2em 0 2em 0;
}

.front .content {
    padding-bottom: 60px;
}

.navbar-brand img {
    height: 20px;
}

.padded-list li {
    padding-bottom: 0.25em;
}

ol > li {
    margin-left: 60px;
}

/**
    Complexity/Difficulty Rating Icons
*/
.project-complexity .rating-1,
.project-complexity .rating-2,
.project-complexity .rating-3 {
    fill: #663366;
}

.project-complexity {
    background-color: #0F0F0F;
    padding: 0.1em 0.5em 0.1em 0.5em;
    border-radius: 4px;
}

.rating-text {
    line-height: 46px;
    margin-left: 0.5em;
}

.project-complexity svg {
    height: 45px;
    width: 105px;
    float: left;
}


.project-complexity .rating-1 #logo-icon-1 {
    fill: #CCCCCC;
}

.project-complexity .rating-2 #logo-icon-1,
.project-complexity .rating-2 #logo-icon-2 {
    fill: #CCCCCC;
}

.project-complexity .rating-3 #logo-icon-1,
.project-complexity .rating-3 #logo-icon-2,
.project-complexity .rating-3 #logo-icon-3{
    fill: #CCCCCC;
}

/** Creative Commons License notice
*/
.cc-license-notice div {
    padding: 0.25em 0 0 0;
}
