* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0F0F0F;
    color: #CCCCCC;
    font: 16px Helvetica, Arial, sans-serif;
    padding-top: 51px;
}

p {
    margin: 1em 0;
}

a {
    color: #69F;
    text-decoration: none;
}

a:hover {
    color: #69F;
}

.navbar {
    background-color: #0F0F0F;
    color: #CCCCCC;
    margin-bottom: 0;
}

.page-header {
    margin-top: 0;
}

.display-inline {
    display: inline;
}


.content {
    background-color: #663366;
    padding-top: 40px;

}

.content .container{
    padding-bottom: 60px;
}

.footer {
    padding-top: 40px;
    height: 190px;
}

.front .header {
    background-color: #0F0F0F;
    padding: 2em 0 2em 0;
}

.front .content {
    padding-bottom: 60px;
}

.navbar-brand img {
    height: 20px;
}

.padded-list li, .padded-list dd {
    padding-bottom: 0.25em;
}

ol > li, dl > dd, .list-indented {
    margin-left: 60px;
}

iframe.pcb-layout {
    width: 100%;
    height: 400px;
}

.table {
    background-color: #FFFFFF;
}

.table th {
    background-color: #0F0F0F;
    color: #CCCCCC;
}

.table tbody td {
    color: #000000;
}

.table-bordered,
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tfoot > tr > td {
    border: 1px solid #0F0F0F;
}

.table-bordered,
.table-bordered > thead > tr > th {
    border: 1px solid #DDDDDD;
}

.panel {
    background-color: #503473;
    -moz-box-shadow: 3px 3px 9px #0F0F0F;
    -webkit-box-shadow: 3px 3px 9px #0F0F0F;
    box-shadow: 3px 3px 9px #0F0F0F;
}

.panel-heading {
    background-color: #0F0F0F;
}

.panel-body {
    background-color: #503473;
}

/** Branding
*/
.navbar-nav li a {
    line-height: 34px;
}

.navbar-brand svg {
    width: 230px;
    height: 33px;
    fill: #CCCCCC;
}

.navbar-brand :hover {
    fill: #FFFFFF;
}

.navbar-toggle {
    margin-top: 16px;
}

/**
    Complexity/Difficulty Rating Icons
*/
.project-complexity .rating-1,
.project-complexity .rating-2,
.project-complexity .rating-3 {
    fill: #663366;
}

.project-complexity {
    background-color: #0F0F0F;
    padding: 0.1em 0.5em 0.1em 0.5em;
    border-radius: 4px;
}

.rating-text {
    line-height: 46px;
    margin-left: 0.5em;
}

.project-complexity svg {
    height: 45px;
    width: 105px;
    float: left;
}

.project-complexity .rating-1 #logo-icon-1 {
    fill: #CCCCCC;
}

.project-complexity .rating-2 #logo-icon-1,
.project-complexity .rating-2 #logo-icon-2 {
    fill: #CCCCCC;
}

.project-complexity .rating-3 #logo-icon-1,
.project-complexity .rating-3 #logo-icon-2,
.project-complexity .rating-3 #logo-icon-3 {
    fill: #CCCCCC;
}

/** License notice
*/
.license-notice {
    background-color: #503473;
    padding: 30px 0 30px 0;
}

.license-notice div {
    padding: 0.25em 0 0 0;
}

/** Sidebar
*/
.sidebar.affix {
    
    position: static;
}

.sidebar {
    font-size: 14px;
    background-color: #0F0F0F;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top:    10px;
    padding-bottom: 10px;
    border-radius: 4px;
}
.sidebar .nav > li > a {
    display: block;
    color: #DDDDDD;
    padding: 5px 20px;
}
.sidebar .nav > li > a:hover,
.sidebar .nav > li > a:focus {
    text-decoration: none;
    background-color: #e5e3e9;
    border-right: 1px solid #dbd8e0;
    color: #0F0F0F;
}
.sidebar .nav > .active > a,
.sidebar .nav > .active:hover > a,
.sidebar .nav > .active:focus > a {
    font-weight: bold;
    color: #FFFFFF;
    background-color: transparent;
    border-right: 1px solid #563d7c;
}

/* Show and affix the side nav when space allows it */
@media (min-width: 992px) {
    .sidebar .nav > .active > ul {
        display: block;
    }
    /* Widen the fixed sidebar */
    .sidebar.affix,
    .sidebar.affix-bottom {
        width: 213px;
    }
    .sidebar.affix {
        position: fixed; /* Undo the static from mobile first approach */
        top: 80px;
    }
    .sidebar.affix-bottom {
        position: absolute; /* Undo the static from mobile first approach */
    }
    .sidebar.affix-bottom .bs-sidenav,
    .sidebar.affix .bs-sidenav {
        margin-top: 0;
        margin-bottom: 0;
    }
}
@media (min-width: 1200px) {
    /* Widen the fixed sidebar again */
    .sidebar.affix-bottom,
    .sidebar.affix {
        width: 263px;
    }
}

/** Back to top button
*/
.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 0;
    text-decoration: none;
    color: #CCCCCC;
    background-color: #0F0F0F;
    font-size: 12px;
    padding: 1em;
    display: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: solid 1px #999999;
}

.back-to-top:hover {
    text-decoration: none;
    background-color: #e5e3e9;
    color: #563d7c;
}

/** Well
 */

.well {
    color: #0F0F0F;
}

/** Fetzer Calculator
 */
#fetzer-calculator {
    font-size: 12px;
}

#fetzer-calculator .form-control {
    display: inline;
    width: 20%;
}

/** News
*/
.list-post .heading-date {
    color: #888888;
}

.list-post .heading-title {
    font-weight: bold;
}

.list-post hr {
    border-top: 1px solid #888888;
}

/** Well Notice
*/
.well-notice {
    background-color: #CC99CC;
    color: #333333;
}

/** Media Queries
*/
/* Extra small devices (phones, less than 768px) */
@media (max-width: 768px) {
    .rating-text.rating-text-verbose {
        display: none;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .rating-text.rating-text-abbreviated {
        display: none;
    }
}

/* Labels */
.label-info {
    background-color: #558855;
}
