---
layout: page
title: runoffgroove.com
---

<div class="container">
    <div class="page-header">
        <h2 class="display-inline">Projects</h2>
    </div>
    {% assign projects = site.categories.projects | sort: 'title' %}

    <script>
        jQuery(document).ready(function () {
            jQuery('#all-projects-button').click(function () {
                jQuery('#all-projects').toggleClass('hidden');
                jQuery('#projects-by-complexity').toggleClass('hidden');
                jQuery('#all-projects-button').toggleClass('active');
                jQuery('#projects-by-complexity-button').toggleClass('active');
                jQuery('#all-projects').addClass('animated fadeInLeft')
                        .one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function() {
                            jQuery('#all-projects').removeClass('animated fadeInLeft');
                        });
            });
            jQuery('#projects-by-complexity-button').click(function () {
                jQuery('#all-projects').toggleClass('hidden');
                jQuery('#projects-by-complexity').toggleClass('hidden');
                jQuery('#all-projects-button').toggleClass('active');
                jQuery('#projects-by-complexity-button').toggleClass('active');
                jQuery('#projects-by-complexity').addClass('animated fadeInRight')
                        .one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function() {
                            jQuery('#all-projects').removeClass('animated fadeInRight');
                        });
            });
        });
    </script>

    <div class="btn-group" style="margin-bottom: 20px;">
        <button id="all-projects-button" type="button" class="btn btn-primary active" style="width: 120px">All</button>
        <button id="projects-by-complexity-button" type="button" class="btn btn-primary" style="width: 120px">By Complexity</button>
    </div>

    <div id="all-projects" class="row projects">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-body">
                    {% for post in projects %}
                    <h4><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h4>

                    <div>{{ post.description }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div id="projects-by-complexity" class="row projects hidden">
        <div class="col-sm-4">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Beginner</h3>
                </div>
                <div class="panel-body">
                    {% for post in projects %}
                    {% if post.complexity == 1 %}
                    <h4><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h4>

                    <div>{{ post.description }}</div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Intermediate</h3>
                </div>
                <div class="panel-body">
                    {% for post in projects %}
                    {% if post.complexity == 2 %}
                    <h4><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h4>

                    <div>{{ post.description }}</div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Advanced</h3>
                </div>
                <div class="panel-body">
                    {% for post in projects %}
                    {% if post.complexity == 3 %}
                    <h4><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h4>

                    <div>{{ post.description }}</div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="license-notice text-center">
    <div class="row">
        <div class="col-xs-offset-4 col-xs-4">
            <h3>Licensing Notice</h3>

            <p>runoffgroove.com projects are provided free-of-charge to builders for personal, non-commercial use.</p>

            <p>We do offer licensing for builders who wish to sell pedals based on, in whole or in part, our projects.
                As part of the licensing agreement, the builder must clearly state that the circuit was developed by
                runoffgroove.com, both in promotional literature and on the circuit board.</p>

            <p>If you see a pedal for sale that seems to be based on a runoffgroove.com project and does not credit us,
                the builder may not be officially licensed by us and therefore, not compensating us as the developer.
                Please contact us with the information and we will investigate the situation. Thank you.</p>
        </div>
    </div>
</div>
