<nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-main-links">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}">runoffgroove.com</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-main-links">
            <ul class="nav navbar-nav">
                <li><a href="news">News</a></li>
                <li><a href="projects">Projects</a></li>
                <li><a class="extra" href="http://www.cafepress.com/runoffgroove">Store <i class="fa fa-external-link"></i></a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>
