---
layout: project
title:  "Matchbox"
description: "The Matchless DC/30 adapted for use as a distortion stompbox."
date: 2004-04-26
categories: projects
complexity: 2
---

<div class="row">
    <div class="col-md-8">
        <p>Back in the mid-90s, the Matchless DC/30 became one of the first boutique amps to hit the market. It excelled
            at clean tones, as well as thick Vox-like overdriven lead sounds.</p>
        <p>There is good reason for the similarity in sound to a Vox amp. The lead channel of the DC/30 appears to be a
            modified Vox AC30/4. The AC30/4 amp featured the EF86 pentode preamp tube, just as the Matchless design.</p>
        <p>runoffgroove.com set out to capture the lead sound of the Matchless DC/30 amp, using the technique developed
            by <a href="http://home.cfl.rr.com/dbhammond/doug.htm">Doug Hammond</a> for his excellent Meteor circuit.
        </p>
        <p>We opted for a MOSFET to replace the EF86 tube. The MOSFET has better gain and fidelity attributes than the
            JFETs we normally use. We used J201 JFETs for the remaining two stages.</p>
        <p>We've named this circuit the Matchbox.</p>
        <p>An item of interest in this circuit is the odd-looking Tone control. This is in some ways similar to the FAC
            control on old Orange amplifiers. The sound is "thinnest" on setting A, and gets thicker as you progress
            through the settings. The Cut control acts as a simple Low Pass Filter. As you turn it counter clockwise, it
            will roll off some of the treble frequencies. We departed from the schematic a bit here. We used a 10n cap
            where the amp used only a 2n2. The reason for our deviation is to achieve a more dramatic effect.</p>
        <p>NOTES:</p>
        <ul class="list-indented">
            <li>Try using a different MOSFET for the first stage. A 2N7000 sounded a bit "tighter" than a BS170. BS170
                had a nice "loose" sound.<br> Any N-channel MOSFET can be used, but as always, pay close attention to
                the pinout.
            </li>
            <li>Try to use all metal film caps in this circuit. It really seems to add to
                the smoothness of the sound. Ceramic caps or "greenies" will work fine, but you will probably notice a
                bit more "grainy" sound.
            </li>
            <li>A 12v Zener diode can be used in place of the LED used for static
                protection of the MOSFET.
            </li>
            <li>Philip Miller Tate (a.k.a. Ge_Whiz) found the Cut control to be quite subtle when using the stock
                values. He reports that substituting a 47nF capacitor and 50k-B pot provided a much more effective
                control.
            </li>
            <li>You can use other JFETs, but be warned! The middle stage may not bias
                correctly or have enough gain to distort. Try other transistors at your
                own risk. PLEASE do not post on <a href="http://diystompboxes.com/sboxforum/">Aron's Stompbox Forum</a>
                with a complaint about the circuit does not working or sounding good when you do not use the specified
                components. You can always purchase J201 FETs from our friend, Steve Daniels at <a
                        href="http://smallbearelec.com/">www.smallbearelec.com</a>, who will ship to anywhere in the
                world.
            </li>
            <li>The official build used a Lorlin 2P6T rotary switch, <a href="http://www.mouser.com">Mouser</a> Part
                #105-14572. On the back of the switch, there are letters and numbers by each solder lug. Wire terminal A
                to lug three of the Volume control. Wire terminals 1 to 6 to their respective nodes on the perfboard.
            </li>
        </ul>

        <p>Here are pin voltages from the official runoffgroove.com build to provide a baseline (supply voltage from a
            9.1v battery):</p>
        <table class="table table-bordered table-condensed">
            <thead>
            <tr>
                <th colspan="2">Q1 BS17</th>
                <th colspan="2">Q2 J201</th>
                <th colspan="2">Q3 J201</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>>D</td>
                <td>>4.8</td>
                <td>>D</td>
                <td>>4.8</td>
                <td>>D</td>
                <td>>4.8</td>
            </tr>
            <tr>
                <td>>G</td>
                <td>>2.4</td>
                <td>>S</td>
                <td>>1.0</td>
                <td>>S</td>
                <td>>20mV</td>
            </tr>
            <tr>
                <td>>S</td>
                <td>>.300</td>
                <td>>G</td>
                <td>>.500</td>
                <td>>G</td>
                <td>>0</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <h3>Sound Samples</h3>
        <h4>Clip 1
            <small>Dual HB guitar - effect - Randall SS amp (set for clean, all Tone controls at max.) - slight reverb
                <ul class="list-unstyled">
                    <li>1st: clean amp, Matchbox bypassed</li>
                    <li>2nd: Tone Pos. 1, Cut max., Vol. 50%</li>
                    <li>3rd: Tone Pos. 3, Cut min., Vol. 75%</li>
                    <li>4th: Tone Pos. 6, Cut max., Vol. 100%</li>
                </ul>
            </small>
        </h4>
        <audio controls>
            <source src="clips/matchbox-amp.mp3" type="audio/mp3">
        </audio>
        <h4>Clip 2
            <small><a href="images/pretty-guitar.jpg">pretty guitar</a> (bridge pickup) - effect - Bulldog Cab Sim -
                sound card Tone SW Pos. 2, Cut max., Vol. 25%
            </small>
        </h4>
        <audio controls>
            <source src="clips/matchbox-direct.mp3" type="audio/mp3">
        </audio>
    </div>
</div>

{% include olcircuits-notice.html url="http://www.olcircuits.com/olc_matchbox.html" %}
{% include velvetpedals-notice.html url="http://www.velvetpedals.com/matchbox.html" %}

<h3>Schematic</h3>
<img src="images/matchbox-schematic.png" alt="{{ page.title }} schematic"
     class="img-rounded img-responsive center-block">

<h3>Perfboard</h3>
<img src="images/matchbox-perf-layout.png" alt="{{ page.title }} perfboard layout"
     class="img-rounded img-responsive center-block"><br>
<img src="images/matchbox-perf-photo1.jpg" alt="{{ page.title }} perfboard photo 1"
     class="img-rounded img-responsive center-block"><br>
<img src="images/matchbox-perf-photo2.jpg" alt="{{ page.title }} perfboard photo 2"
     class="img-rounded img-responsive center-block"><br>

<h3>Printed Circuit Board</h3>
<p>Pablo De Luca (aka Gringo) contributed PCB layouts for the {{ page.title }}.</p>
<iframe src="pdf/matchbox-pcb.pdf" class="pcb-layout"></iframe>
