---
layout: default
---

<div class="page-header">
    <h2 style="display: inline;">{{ page.title }}</h2>
    <small>{{ page.description }}</small>
</div>
<div class="project-complexity">
    <div class="rating-{{ page.complexity }}">
        {% include logo.svg %}
    </div>
    <script>
        jQuery('[class^=rating-]').tooltip({
            placement: 'right',
            container: 'body',
            title: 'This project is rated {{ page.complexity }} out of 3 for the level of complexity.'
        });
    </script>
</div>

<p>
    {{ page.date | date_to_string }}
</p>

<div class="post">
    {{ content }}
</div>
