---
layout: default
---

<div class="page-header">
    <h2 style="display: inline;">{{ page.title }}</h2>
    <small>{{ page.description }}</small>
</div>
<div>
    <img id="project-difficulty" src="/images/complexity-{{ page.complexity }}.png"
         title="This project is rated {{ page.complexity }} out of 3 for the level of complexity.">
    <script>jQuery('#project-difficulty').tooltip({placement: "right"})</script>
</div>

<p>
    {{ page.date | date_to_string }}
</p>

<div class="post">
    {{ content }}
</div>
