---
layout: page
---

<div class="container">
    <div class="page-header">
        <h3 class="display-inline">{{ page.title }}</h3>
        <small>{{ page.description }}</small>
    </div>
    <p>
        {% if page.date %}<span>Published {{ page.date | date_to_string }}</span>{% endif %}
        {% if page.complexity %}
            <span class="label label-info">
            {% if page.complexity == 1 %}
            Beginner
            {% elsif page.complexity == 2 %}
            Intermediate
            {% elsif page.complexity == 3 %}
            Advanced
            {% endif %}
            </span>
        {% endif %}
    </p>
    <div class="panel">
        <div class="panel-body project">
            {{ content }}
        </div>
    </div>

</div>

{% include cc-license-notice.html %}
