---
layout: page
---

<div class="container">
    <div class="page-header">
        <h2 class="display-inline">{{ page.title }}</h2>
        <small>{{ page.description }}</small>
    </div>

    {% if page.complexity %}
    <div class="project-complexity">
        <span class="rating-{{ page.complexity }}">
            {% include logo.svg %}
        </span>
        <span class="rating-text rating-text-verbose">This project is rated {{ page.complexity }} out of 3 for the level of complexity.</span>
        <span class="rating-text rating-text-abbreviated">
            {% if page.complexity == 1 %}
            Beginner
            {% elsif page.complexity == 2 %}
            Intermediate
            {% elsif page.complexity == 3 %}
            Advanced
            {% endif %}
        </span>
    </div>
    {% endif %}

    {% if page.date %}
    <p>
        Published {{ page.date | date_to_string }}
    </p>
    {% endif %}

    <div class="project">
        {{ content }}
    </div>
</div>

{% include cc-license-notice.html %}
